In [1]:
age=23
print("my age is " + age + "years")

TypeError: can only concatenate str (not "int") to str

In [7]:
print("my age is "+str(age) + " year")

my age is 23 year

In [5]:
print("my age is {0} years".format(age))

my age is 23 years

In [12]:
print("Thay are {0} days in a week {1},{2},{3},{4},{5},{6},{7}".format(7,"monday","tuesday","wednesday","thruesday","friday","satruday","sunday"))

Thay are 7 days in a week monday,tuesday,wednesday,thruesday,friday,satruday,sunday

In [15]:
print("My friends sai is :{0}, xxxx is  {1}, manohar is {0}, sp is {0}, zzz is {2}".format("good","average","bad"))

My friends sai is :good, xxxx is  average, manohar is good, sp is good, zzz is bad

In [37]:
for i in range(1,12):#it prients 11 rows of output
    print("no. %2d squared is %4d and cubed is %5d" %(i,i ** 2, i ** 3))

no.  1 squared is    1 and cubed is     1
no.  2 squared is    4 and cubed is     8
no.  3 squared is    9 and cubed is    27
no.  4 squared is   16 and cubed is    64
no.  5 squared is   25 and cubed is   125
no.  6 squared is   36 and cubed is   216
no.  7 squared is   49 and cubed is   343
no.  8 squared is   64 and cubed is   512
no.  9 squared is   81 and cubed is   729
no. 10 squared is  100 and cubed is  1000
no. 11 squared is  121 and cubed is  1331

In [46]:
for j in range(1, 12):
    print("{0:2} {1:<4}{2:<4}".format(j,j ** 2,j **3))

 1 1   1
 2 4   8
 3 9   27
 4 16  64
 5 25  125
 6 36  216
 7 49  343
 8 64  512
 9 81  729
10 100 1000
11 121 1331