In [1]:
a=2
b=3

In [3]:
c=a+b
d=c/3
e=d-4
print(e*12)

-27.999999999999996

In [20]:
name="abcdefghijklmnopqrestuvwxyz"

In [21]:
print(name)
print(name[0])
print(name[1])

abcdefghijklmnopqrestuvwxyz
a
b

In [22]:
print(name[7])

h

In [31]:
print(name[26])#ending letter
print(name[0])#starting letter
print(name[-1])#starthig letter in negitive
print(name[-27])#ending of the string 
#coming to negitive integer we will start with -1

z
a
z
a

In [24]:
print(name[0:15])#it prients the leterrs in between the 0 and 15 on the string

abcdefghijklmno

In [25]:
print(name[:15])#it will also print all the varibles below the 15

abcdefghijklmno

In [59]:
print(name[0:])#in willprint the all the varibles graterthan the 0

abcdefghijklmnopqrestuvwxyz

In [42]:
number="12345678910"
print(number[0:10:2])#its going to print every 2 number in the stering

13579

In [4]:
space="1,2,3,4,5,6,7,8,9,10"
print(space[0:21:2])
print(space.split(','))
print(space[0::2])

1234567891
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
1234567891

In [60]:
firstname="nallapaneni"
middlename="sai"
lastname="chakravarthi"
print(firstname + middlename + lastname)#combineing the string

nallapanenisaichakravarthi

In [61]:
print(middlename *5)

saisaisaisaisai

In [62]:
print(middlename * (5-4))

sai

In [69]:
print(middlename *5 + space *5)

saisaisaisaisai1,2,3,4,5,6,7,8,9,101,2,3,4,5,6,7,8,9,101,2,3,4,5,6,7,8,9,101,2,3,4,5,6,7,8,9,101,2,3,4,5,6,7,8,9,10

In [76]:
myname="saichakravarthi"
print("sai" in myname)
print("chakravarthi" in myname)
print("nallapaneni" in myname)

True
True
False